<html>
  <head>
    <title>Prv chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body{
          color: white;
          background-color: #303030;
          font-family: Arial, Helvetica, sans-serif;
      }
      #msgBox{
          width: 100%;
          height: 95%;
          overflow-y: scroll;
      }
      #sendBox{
          width: 100%;
          height: 5%;
      }
      #sendBox > input{
          width: 38%;
          height: -webkit-fill-available;
      }
      #sendBox > button{
          width: 18%;
          height: -webkit-fill-available;
      }
      #all{
          width: 50vw;
          height: 80vh;
          border: #fff solid 4px;
          border-radius: 10px;
          margin: auto;
      }
      #appName{
          height: 15vh;
          width: 50vw;
          margin: auto;
          text-align: center;
          font-size: 80px;
      }
      @media only screen and (max-width: 600px) {
          #all{
              width: 90vw;
              height: 80vh;
              font-size: 100%!important;
          }
          #sendBox > button, input{
            font-size: 51%%;
          }
          #appName{
            height: 10vh;
            font-size: 38px;
          }
      }
    </style>
  </head>
  <body>
    <div id="appName">Prv Chat</div>
    <div id="all">
      <div id='msgBox'></div>
      <div id="sendBox">
        <input id="sendNick" type="text" placeholder="Nick"></input>
        <input id="sendMessage" type="text" placeholder="Message"></input>
        <button type="button" id="sendButton" onclick="sendMsg()">send</button>
    </div>
    <script> 
      function getUrlVars() { var vars = {}; var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) { vars[key] = value; }); return vars; }

      var roomID=null;

      console.log(getUrlVars()['room'])
      if(getUrlVars()['room'] != null){
         document.getElementById("msgBox").innerHTML = "<b>Connect to the "+getUrlVars()['room']+" chat</b>";
         roomID=getUrlVars()['room'];
         console.log("1_Connect to the "+getUrlVars()['room']+" chat");
      }else{
        document.getElementById("msgBox").innerHTML = "<b>Connect to the main chat</b>";
        roomID=0;
        console.log("1_Connect to the main chat / "+roomID);
      }

      function sendMsg() {
          var text = "&nick="+document.getElementById("sendNick").value+"&msg="+document.getElementById("sendMessage").value;
          fetch('https://ciszek-test-nodejs.herokuapp.com/newmsg?roomID='+roomID+text)
          .then(response => response.text())
          .then(res => {
            if(res == "Error"){
                  document.getElementById("msgBox").innerHTML = "<b>Error: Chat does not exist</b>";
            }else{
              var json = JSON.parse(res);
              var msg="";
              
              json.forEach(function (a){
                  msg=msg+a.date+" -  <b>"+a.nick+"</b>: "+a.msg+"<br/>";
              });
              document.getElementById("msgBox").innerHTML = msg;
              document.getElementById("sendMessage").value = "";
            }
        })
      };
      function getMsg(){
        fetch('https://ciszek-test-nodejs.herokuapp.com/getmsg?roomID='+roomID)
        .then(response => response.text())
        .then(res => {
          if(res == "Error"){
                document.getElementById("msgBox").innerHTML = "<b>Error: Chat does not exist</b>";
                document.getElementById("sendButton").disabled = true;

          }else{
            var json = JSON.parse(res);
            var msg="";
            
            json.forEach(function (a){
                msg=msg+a.date+" -  <b>"+a.nick+"</b>: "+a.msg+"<br/>";
            });
            document.getElementById("msgBox").innerHTML = msg;
          }
      })};
      getMsg();
      setInterval(getMsg,5000)
    </script>
  </body>
</html>
