<html>
  <head>
    <title>Shit chat</title>
  </head>
  <body>
    <div id='ms'></div>
    <input id="sendNick" type="text" placeholder="Nick"></input>
    <input id="sendMessag" type="text" placeholder="massage"></input>
    <input type="button" value="send"></input>
    <script> fetch('https://91f958f2-f424-45f8-a9ec-f4acb85df09a.id.repl.co/readmessage')
  .then(response => response.json())
  .then(commits => function name(commits){console.log(commits);
                                          document.getElementById("ms").innerHTML = commits});
      function click(params) {
        
      }
    </script>
  </body>
</html>
