<html>
  <head>
    <title>Shit chat</title>
  </head>
  <body>
    <div id='ms'></div>
    <input id="sendNick" type="text" placeholder="Nick"></input>
    <input id="sendMessag" type="text" placeholder="massage"></input>
    <button type="button" onclick="sendMsg()">send</button>
    <script> 
      function sendMsg() {
        var text = "<b>"+document.getElementById("sendNick").value+"</b>: \""+document.getElementById("sendMessag").value+"\"";
          fetch('https://ciszek-test-nodejs.herokuapp.com/newmessage?value='+text)
          .then(response => response.text())
          .then(res => {
            var text = res.toString();
            document.getElementById("ms").innerHTML = text;
            document.getElementById("sendMessag").value = "";

          });
      };
      function getMsg(){
        fetch('https://ciszek-test-nodejs.herokuapp.com/readmessage')
        .then(response => response.text())
        .then(res => {
          var text = res.toString();
          document.getElementById("ms").innerHTML = text;
      })};

      setInterval(getMsg(),500)
    </script>
  </body>
</html>
