<html>
  <head>
    <title>Shit chat</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <style>
      body{
          color: white;
          background-color: #303030;
          font-family: Arial, Helvetica, sans-serif;
      }
      #msgBox{
          width: 100%;
          height: 95%;
      }
      #sendBox{
          width: 100%;
          height: 5%;
      }
      #sendBox > input{
          width: 38%;
          height: -webkit-fill-available;
      }
      #sendBox > button{
          width: 18%;
          height: -webkit-fill-available;
      }
      #all{
          width: 50vw;
          height: 80vh;
          border: #fff solid 4px;
          border-radius: 10px;
          margin: auto;
      }
      #appName{
          height: 15vh;
          width: 50vw;
          margin: auto;
          text-align: center;
          font-size: 80px;
      }
      @media only screen and (max-width: 600px) {
          #all{
              width: 90vw;
              height: 80vh;
              font-size: 209%!important;
          }
          #sendBox > button, input{
            font-size: 100%;
          }
      }
    </style>
  </head>
  <body>
    <div id="appName">Shit Chat</div>
    <div id="all">
      <div id='msgBox'></div>
      <div id="sendBox">
        <input id="sendNick" type="text" placeholder="Nick"></input>
        <input id="sendMessag" type="text" placeholder="massage"></input>
        <button type="button" onclick="sendMsg()">send</button>
    </div>
    <script> 
      function sendMsg() {
        var text = "<b>"+document.getElementById("sendNick").value+"</b>: \""+document.getElementById("sendMessag").value+"\"";
          fetch('https://ciszek-test-nodejs.herokuapp.com/newmessage?value='+text)
          .then(response => response.text())
          .then(res => {
            var text = res.toString();
            document.getElementById("msgBox").innerHTML = text;
            document.getElementById("sendMessag").value = "";

          });
      };
      function getMsg(){
        fetch('https://ciszek-test-nodejs.herokuapp.com/readmessage')
        .then(response => response.text())
        .then(res => {
          var text = res.toString();
          document.getElementById("msgBox").innerHTML = text;
      })};
      getMsg();
      setInterval(getMsg,5000)
    </script>
  </body>
</html>
