<html>
  <head>
    <title>Shit chat</title>
  </head>
  <body>
    <div id='ms'></div>
    <input id="sendNick" type="text" placeholder="Nick"></input>
    <input id="sendMessag" type="text" placeholder="massage"></input>
    <button value="send" onclick="click()">send</button>
    <script> 
      fetch('https://ciszek-test-nodejs.herokuapp.com/readmessage')
      .then(response => response.text())
      .then(res => {
        var text = res.toString();
        document.getElementById("ms").innerHTML = text;
      });
      function click() {
        var text = document.getElementById("sendNick").value+": \""+document.getElementById("sendMessag").value+"\"<br/>";
          fetch('https://ciszek-test-nodejs.herokuapp.com/newmessage?value='+text)
          .then(response => response.text())
          .then(res => {
            var text = res.toString();
            document.getElementById("ms").innerHTML = text;
            document.getElementById("sendMessag").value = ""

          });
      }
    </script>
  </body>
</html>
